<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Nova Tarefa</title>
    <link rel="stylesheet" href="../static/css/addTask.css">
</head>
<body>
    <h1>Adicionar Nova Tarefa</h1>
    <form id="add-task-form">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="dueDate">Data de Vencimento:</label>
        <input type="date" id="dueDate" name="dueDate" required>
        <label for="priority">Prioridade:</label>
        <select id="priority" name="priority" required>
            <option value="Alta">Alta</option>
            <option value="Média">Média</option>
            <option value="Baixa">Baixa</option>
        </select>
        <button type="submit">Salvar</button>
        <button type="button" onclick="window.location.href='tasks.html'">Voltar</button>
    </form>
    <script src="../static/js/app.js"></script>
</body>
</html>
