<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios de Tarefas</title>
    <link rel="stylesheet" href="../static/css/report.css">
</head>
<body>
    <h1>Relatórios de Tarefas</h1>
    <div class="buttons">
        <button data-type="general">Estatísticas Gerais</button>
        <button data-type="overdue">Tarefas Atrasadas</button>
        <button data-type="completed">Tarefas Concluídas</button>
        <button data-type="by-priority">Tarefas por Prioridade</button>
        <button data-type="by-period">Tarefas do Mês Atual</button>
    </div>
    <div id="report-results"></div>

    <script src="../static/js/reports.js"></script>
</body>
</html>
