<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Minhas Tarefas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Data de Vencimento</th>
                <th>Prioridade</th>
            </tr>
        </thead>
        <tbody id="task-list">
            <!-- As tarefas serão preenchidas dinamicamente -->
        </tbody>
    </table>
    <a href="../templates/add-tasks.html" class="btn">Adicionar Nova Tarefa</a>
</body>
<script src="../static/js/app.js"></script>
</html>
